* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-body {
  background-color: black;
  height: 100vh;
}

.home-container {
  background-color: lightgrey;
  height: 80vh;
  width: 90%;
  margin: 5px auto;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-image: url("../pics/moon.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.container-reg-link,
.container-login-link {
  background-color: rgba(4, 4, 3, 0.607);
  width: 80%;
  margin: 80px auto;
  padding: 25px 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 50px 1px rgba(7, 7, 7, 0.708);
}

hr {
  margin: 40px 0 40px 0;
}

.home-h1 {
  text-decoration: underline;
}

.home-h2,
.home-h1 {
  color: white;
  text-align: center;
}

.home-anch-tag {
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 1s;
}

/*====================================================================*/
/*------------------ MEDIA QUERY FOR 80em WIDTH ------------------*/
@media (max-width: 64em) {
  .home-container {
    height: 90vh;
  }
}

/*------------------ MEDIA QUERY FOR 48em WIDTH ------------------*/
@media (max-width: 64em) {
  .home-container {
    height: 125vh;
  }
}

/*------------------ MEDIA QUERY FOR 58.25em WIDTH ------------------*/
@media (max-width: 58.25em) {
  .home-container {
    height: 190vh;
  }
}

/*------------------ MEDIA QUERY FOR 57em WIDTH ------------------*/
@media (max-width: 57em) {
  .home-h2 {
    font-size: x-large;
  }
}

/*------------------ MEDIA QUERY FOR 53.3125em WIDTH ------------------*/
@media (max-width: 53.3125em) {
  .home-container {
    height: 80vh;
  }
}

/*------------------ MEDIA QUERY FOR 48em WIDTH ------------------*/
@media (max-width: 48em) {
  .home-container {
    height: 75vh;
  }
}

/*------------------ MEDIA QUERY FOR 46em WIDTH ------------------*/
@media (max-width: 46em) {
  .home-container {
    height: 125vh;
  }
}

/*------------------ MEDIA QUERY FOR 41.25em WIDTH ------------------*/
@media (max-width: 41.25em) {
  .home-container {
    height: 160vh;
  }
}

/*------------------ MEDIA QUERY FOR 32em WIDTH ------------------*/
@media (max-width: 32em) {
  .home-h2,
  .home-h1 {
    font-size: medium;
  }
  .container-reg-link,
  .container-login-link {
    width: 100%;
  }
  .home-anch-tag {
    text-decoration: underline;
  }
}

/*------------------ MEDIA QUERY FOR 33.75em WIDTH ------------------*/
@media (max-width: 33.75em) {
  .home-container {
    height: 75vh;
  }
}

/*------------------ MEDIA QUERY FOR 26.875em WIDTH ------------------*/
@media (max-width: 26.875em) {
  .home-container {
    height: 90vh;
  }
}

/*------------------ MEDIA QUERY FOR 25.75em WIDTH ------------------*/
@media (max-width: 26.875em) {
  .home-container {
    height: 70vh;
  }
}

/*------------------ MEDIA QUERY FOR 24.375em WIDTH ------------------*/
@media (max-width: 24.375em) {
  .home-container {
    height: 65vh;
  }
}

/*------------------ MEDIA QUERY FOR 21.5em WIDTH ------------------*/
@media (max-width: 21.5em) {
  .home-container {
    height: 65vh;
  }
}
/*====================================================================*/
