.main {
  /* background-color: rgb(185, 216, 216); */
  height: 100vh;
  background-image: url("../pics/pic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
