.body {
  width: 100%;
}

.main {
  background-color: black;
  height: 100vh;
  width: 100vw;
  background-image: url("../pics/pic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.container2 {
  width: 80%;
  margin: 50% auto;
  height: 15vh;
  background-color: rgba(5, 5, 5, 0.505);
  z-index: 10;
  border-radius: 10px;
  box-shadow: 1px 1px 50px 1px rgb(6, 6, 6);
}

.index-h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

.button-div {
  width: 70%;
  padding: 5px 10px;
  display: block;
  margin: 50px auto;
  border-radius: 10px;
  background-color: rgb(63, 111, 232);
  transition: 1s;
}

.button-div:hover {
  border: 2px solid rgb(191, 206, 219);
  background-color: white;
}

.anch-tag {
  display: block;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 1s;
}

a:hover {
  color: rgb(31, 101, 242);
  text-decoration: none;
}

/*------------------------------ Media Querys ------------------------------*/
/*------------------ MEDIA QUERY FOR 59em WIDTH ------------------*/
@media (max-width: 59em) {
  .container2 {
    width: 65%;
    margin: 15% auto;
    height: 29vh;
  }
}

/*------------------ MEDIA QUERY FOR 57em WIDTH ------------------*/
@media (max-width: 57em) {
  .container2 {
    margin: 60% auto;
  }
}

/*------------------ MEDIA QUERY FOR 51em WIDTH ------------------*/
@media (max-width: 51em) {
  .container2 {
    margin: 60% auto;
    height: 15vh;
  }
}

/*------------------ MEDIA QUERY FOR 32em WIDTH ------------------*/
@media (max-width: 32em) {
  .container2 {
    margin: 75% auto;
  }
  .index-h1 {
    font-size: large;
  }
  .button-div {
    margin: 25px auto;
  }
}
/*------------------ MEDIA QUERY FOR 27em WIDTH ------------------*/
@media (max-width: 27em) {
  .container2 {
    width: 80%;
    height: 10vh;
    margin: 90% auto;
  }
}
/*------------------ MEDIA QUERY FOR 24em WIDTH ------------------*/
@media (max-width: 24em) {
  .container2 {
    margin: 90% auto;
  }
  .anch-tag {
    font-size: small;
  }
}

/*------------------ MEDIA QUERY FOR 23em WIDTH ------------------*/
@media (max-width: 23.5em) {
  .container2 {
    margin: 80% auto;
  }
  .anch-tag {
    font-size: small;
  }
}
