* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-body {
  background-color: lightgrey;
}

.main-container {
  background-color: rgba(4, 4, 3, 0.581);
  width: 80%;
  height: 90%;
  margin: 80px auto;
  padding: 25px 10px;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 1px 1px 50px 1px rgba(7, 7, 7, 0.708);
}

.login-container {
  width: 50%;
  height: 80%;
  margin: 5px auto;
}
.login-h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

hr {
  margin: 20px;
}

form {
  padding: 50px;
  margin: 10px auto;
  background-color: rgba(117, 117, 117, 0.385);
  box-shadow: 1px 1px 50px 1px rgba(244, 242, 242, 0.603);
  width: 100%;
  /* border: 3px solid rgb(86, 121, 149); */
  border-radius: 8px;
}

.log-inp,
.login-button {
  margin: 10px auto;
  width: 100%;
  display: block;
  text-align: left;
  padding: 10px;
  background-color: rgb(196, 195, 195);
  border: 0;
  color: white;
}

.log-inp {
  background-color: white;
  color: black;
}

.login-button {
  text-align: center;
  color: white;
  font-size: large;
  transition: all 2s;
  cursor: pointer;
}

.login-button:hover {
  color: aqua;
  font-size: 20px;
}

.login-recover-remember {
  margin: 10px 0 0 0;
}

.login-anchor {
  color: rgb(54, 145, 145);
  text-decoration: none;
  transition: all 2s;
}

.log-check {
  margin-top: 10px;
}

@media (max-width: 48em) {
  .login-container {
    width: 60%;
  }
}

@media (max-width: 34em) {
  .login-container {
    width: 75%;
  }
}

@media (max-width: 27em) {
  .login-container {
    width: 90%;
  }
}

@media (max-width: 22.5em) {
  .login-container {
    width: 100%;
  }
}
