.footer-section {
  background-color: rgba(155, 153, 153, 0.656);
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0 0 15px 0;
}

/*------------------------------ Media Querys ------------------------------*/

@media (max-width: 65em) {
  .footer-section {
    font-size: x-small;
  }
}
